# .gitignore

# Exclude everything
*

# Include specific files
!.Xresources
!.bash_profile
!.bashrc
!.config/emacs/README.md
!.config/gtk-3.0/settings.ini
!.config/i3/config
!.config/i3status/config
!.config/mpv/*.conf
!.config/vim/.vimrc
!.config/vim/README.md
!.gitignore
!.gtkrc-2.0
!.mg
!.profile
!.profile.d/*.sh
!.tmux.conf
!.xinitrc
!.xsession
!.zshrc
