# .gitignore

# Exclude everything by default
*/*

# Include directories
!.config/
!.config/*/
!.config/emacs/README.md
!.config/gtk-3.0/settings.ini
!.config/i3/config
!.config/i3status/config
!.config/mpv/*.conf
!.config/vim/README.md
!.config/vim/vimrc
!.profile.d/*.sh

# Include loose files
!.Xresources
!.bash_profile
!.bashrc
!.gitignore
!.gtkrc-2.0
!.mg
!.profile
!.tmux.conf
!.xinitrc
!.xsession
!.zshrc
!LICENSE.md
!README.md

# Re-exclude unwanted patterns
**/*#*
**/*~*
